<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row text-center" >
            <h1>Testing Angular 2 applications</h1>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Wael Ben Zid Gabsi</h3>

            <div class="text-center">
                <a href="https://twitter.com/benzid_wael" target="_blank">@benzid_wael</a>
            </div>
            <div class="text-center">
                <a href="http://benzidwael.wordpress.com" target="_blank">benzidwael.wordpress.com</a>
            </div>
        </div>
    </div>
</div>